/* Adjust the width of the calendar container */
body {
  width: 800px;
  height: 800px;
  margin: 0;
  padding: 0;
}
/* Adjust the width of the calendar container */
.calendar-container {
  width: 50%; 
  margin: 0 auto; /* Center the calendar horizontally */
  text-align: center;
 }

/* Adjust the width of the calendar table */
.calendar {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  /* Set a minimum width for the table */
  min-width: 420px; /* Adjust the width as needed */
 
}

/* Adjust the width of the calendar cells */
.calendar th,
.calendar td {
  padding: 15px; /* Increase the padding for better spacing */
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  /* Adjust the width of the cells */
  width: 60px; /* Adjust the width as needed */
  height: 60px;
}

.calendar th {
  background-color: #f2f2f2;
  height: 20px; /* Adjust the height of the top row */
}
/*makes the days appear on the top right and adjusts the cells height*/
.calendar td {
  padding: 10px; 
  text-align: right;
  vertical-align: top;
  position: relative; 
  height: 55px; /* Adjust the height of other rows */
}


/* Ensure the month name is centered */
.month-name {
  text-align: center;
}

/* Style the navigation buttons */
.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Add some space below the navigation buttons */
}

.nav-buttons button {
  padding: 8px 15px; 
  cursor: pointer;
}

